{% load static %}
<div class="preloader wf-section">
    <div class="container-5 w-container"><img src="{% static 'images/horizontal-leaf-right.png' %}" loading="lazy" sizes="100vw" srcset="{% static 'images/horizontal-leaf-right-p-500.png' %} 500w, {% static 'images/horizontal-leaf-right.png' %} 666w" alt="" class="bottom_leaf"><img src="{% static 'images/MicrosoftTeams-image-7.png' %}" loading="lazy" alt="" class="preloader_logo"><img src="{% static 'images/animation_500_l4ms8edr.gif' %}" loading="lazy" alt="" class="loading_gif"><img src="{% static 'images/horizontal-leaf-left.png' %}" loading="lazy" sizes="100vw" srcset="{% static 'images/horizontal-leaf-left-p-500.png' %} 500w, {% static 'images/horizontal-leaf-left.png' %} 666w" alt="" class="top_leaf"></div>
</div>
<div data-w-id="ebd1012b-13f8-f9c1-57f1-8980884fb80d" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-3 w-nav">
    <div class="container-9 w-container">
        <a href="{% url 'index' %}" class="mobile-logo w-nav-brand"><img src="{% static 'images/Bonnybank-logo-white.png' %}" loading="eager" height="150" width="150" alt="" class="navlogo"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="{% url 'index' %}" class="nav-link-2 w-nav-link">Home</a>
            <a href="{% url 'rooms' %}" class="nav-link-2 w-nav-link">Rooms</a>
            <a href="{% url 'about' %}" class="nav-link-2 w-nav-link">About</a>
            <a href="{% url 'index' %}" class="desktop-logo w-nav-brand"><img src="{% static 'images/Bonnybank-logo-white.png' %}" loading="eager" height="150" width="150" alt="" class="navlogo"></a>
            <a href="{% url 'promotions' %}" class="nav-link-2 w-nav-link">Promotions</a>
            <a href="{% url 'events' %}" class="nav-link-2 w-nav-link">Events</a>
            <a href="{% url 'contact' %}" class="nav-link-2 w-nav-link">Contact</a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon-2 w-icon-nav-menu"></div>
        </div>
    </div>
</div>